<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="0" android:versionName="1.0" package="nl.fm.downline">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="nl.fm.downline.DownlineApp" android:theme="@style/LightThemeSelector">
        <activity android:label="@string/app_name" android:name=".TabHostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Downline"/>
        <activity android:name=".Level"/>
        <activity android:name=".MemberFragment"/>

        <!-- API level 16 uses 'parentActivityName' -->
        <!-- API level below 16 uses 'meta-data' -->
        <activity android:name=".SettingsActivity" android:parentActivityName=".TabHostActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="nl.fm.downline.TabHostActivity"/>
        </activity>

    </application>

</manifest>